<div>
    <h2>Order Form</h2>
    <form *ngIf="order">
      <div >
        <label for="discount">Discount:</label>
        <input type="number" id="discount" [(ngModel)]="order.discount" name="discount">
      </div>
      <div>
        <label for="comments">Comments:</label>
        <input type="text" id="comments" [(ngModel)]="order.comments" name="comments">
      </div>
      
      <div>
        <label for="customerId">Customer Id:</label>
        <input type="number" id="customerId" [(ngModel)]="order.customerId" name="customerId">
      </div>
      <div>
        <label for="cashierId">Cashier Id:</label>
        <input type="text" id="cashierId" [(ngModel)]="order.cashierId" name="cashierId">
      </div>
  <div >
    <label for="productId">Product Id:</label>
    <input type="number" id="productId" [(ngModel)]="order.productId" name="productId">
  </div>
      <br>
      <button type="button" (click)="onSubmit()">Submit</button>
    </form>
  </div>