<h1>Customers</h1>

<app-search-bar></app-search-bar>

<div *ngFor="let customer of customers | paginate: {
  itemsPerPage: pageSize,
  currentPage: page
}" class="customer-card">

  <span class="customer-name" routerLink="/customer-details/{{customer.id}}">
  <h2>{{ customer.name }}</h2>
  </span>

  <p class="customer-detail">{{ customer.address }}</p>
  <button type="button" (click)="deleteCustomer(customer.id)">Delete</button>
  
</div>

<div>
<pagination-controls
previousLabel="Prev"
nextLabel="Next"
(pageChange)="handlePageChange($event)"></pagination-controls>

<p>Items per page: </p>
<select (change)="handlePageSizeChange($event)">
  <option *ngFor="let size of pageSizes" [ngValue]="size"> {{ size }} </option>
</select>
</div>

<br>
<button type="button" routerLink="/customer-form">Add Customer</button>