<div class="customer-details-container">
    <div class="customer-details">
      <h2>Customer Details</h2>
      <br>
      <p><strong>Name: </strong> {{ customerDetails.name }}</p>
      <p><strong>Phone Number: </strong> {{ customerDetails.phoneNumber }}</p>
      <p><strong>Email: </strong> {{ customerDetails.email }}</p>
      <p><strong>Address: </strong> {{ customerDetails.address }}</p>
      <p><strong>City: </strong> {{ customerDetails.city }}</p>
      <p><strong>Gender: </strong> {{ customerDetails.gender }}</p>
  
      <button type="button" (click)="editCustomer()">Edit</button>
    </div>
  </div>