<h1>Add a New Lesson</h1>

<form #lessonForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" [(ngModel)]="lesson.date" required>
  </div>
  <div class="form-group">
    <label for="coach">Coach:</label>
    <select id="coach" name="coach" [(ngModel)]="lesson.coachId" required>
      <option *ngFor="let coach of users" [value]="coach.id">{{ coach.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="location">Location:</label>
    <select id="location" name="location" [(ngModel)]="lesson.locationId" (change)="onLocationChange()" required>
      <option *ngFor="let location of locations" [value]="location.id">{{ location.title }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="court">Court Number:</label>
    <select id="court" name="court" [(ngModel)]="lesson.courtId">
      <option *ngFor="let court of courts" [value]="court.id">{{ court.courtNumber }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="participant">Participant:</label>
    <select id="participant" name="participant" [(ngModel)]="lesson.participantId" required>
      <option *ngFor="let participant of users" [value]="participant.id">{{ participant.name }}</option>
    </select>
  </div>

  <button type="submit" [disabled]="!lessonForm.valid">Add Lesson</button>
</form>
