<h1>Products</h1>

<input type="text" placeholder="Search by name" [(ngModel)]="searchTerm">
<button type="button" (click)="onSearch()">Search</button>
<button type="button" (click)="onClear()">Clear</button>

<div [hidden]="filteredProducts.length > 0">
  <div  *ngFor="let product of products | paginate: {
    itemsPerPage: pageSize,
    currentPage: page,
    totalItems: totalItems
  }" class="product-card">

  <h2 [routerLink]="['/product-details', product.id]">
    {{ product.name }}
  </h2>

  <p class="description">{{ product.description }}</p>
  <p class="price">Price: {{ product.sellingPrice | currency:'USD':code }}</p>
  </div>
 
</div>


<!--used for filetered products-->
<div [hidden]="filteredProducts.length === 0">
  <div  *ngFor="let product of filteredProducts | paginate: {
    itemsPerPage: pageSize,
    currentPage: page,
    totalItems: totalItems
  }" class="product-card">

  <h2 [routerLink]="['/product-details', product.id]">
    {{ product.name }}
  </h2>

  <p class="description">{{ product.description }}</p>
  <p class="price">Price: {{ product.sellingPrice | currency:'USD':code }}</p>
  </div>
</div>

<div>
  <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="handlePageChange($event)"
  ></pagination-controls>

  <p>Items per page:</p>
  <select (change)="handlePageSizeChange($event)">
    <option *ngFor="let size of pageSizes" [ngValue]="size">
        {{ size }}
    </option>
  </select>
</div>

<button type="button" class="product-card" routerLink="/product-input-form">Add Product</button>
